@font-face {
    font-family: myFont;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex: 1 1;
}
input{
    outline: none;
    border: 1px solid #E5E7EB;
    border-radius: 0.2rem;
    padding: 0.3rem;
}
input:focus{
    border-color: blue;
    box-shadow: 1px 2px 5px black;
}

label{
    display: block;
    font-weight: 100;
    margin: 0.2rem;
    font-family: monospace, sans-serif;
}

.image-container{
    position: relative;
    width: 40%;
    /* border: 1px solid black; */
    display: flex;
    flex: 1 2;
}
.beach{
    max-width: 100%;
    min-height: 100%;
}
.main-content{
    min-width: 58%;
    display: flex;
    flex-direction: column;
    flex: 1;
    /* border: 1px solid black; */
}

.logo-box{
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;
    top: 20%;
    right: 0;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.odin{
    max-width: 90%;
    height: 90%;
}
.logo{
    color: aliceblue;
    padding-top: 4rem;
    height: 100%;
    font-family: myFont;
    font-size: 6rem;
}
.credit{
    padding: 0.3rem;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.623);
    position: absolute;
    align-self: flex-end;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
h2{
    padding-left: 1rem;
    font-family: monospace, sans-serif;
    font-weight: 100;
}

.link-to{
    text-decoration: none;
    color: aliceblue;  
    padding-left: 1rem;
}
.link-to:hover{
    color: rgba(137, 43, 226, 0.425);
}
button{
    border: none;
    border-radius: 0.25rem;
    background-color: #596D48;
}
.formBox{
    padding: 1rem;
    display: flex;
    flex:1;
    gap: 5rem;
}
.form-container{
    z-index: 1;
    box-shadow: 0 5px 5px #ced0d3;
    border-top: 2px solid #e5e7eb62;;
    padding: 1rem;
}
.top-container{
    background-color: rgba(255, 255, 255, 0.60);;
    padding: 3rem 4rem 2rem 2rem;
}
.bot-container{
    background-color: rgba(255, 255, 255, 0.60);
    padding: 2rem;
}

p{
    font-family: monospace, sans-serif;
}

.top-container > p{
    font-size: 1rem;
    font-weight: 550;
}
.bot-container > button{
    color: #E5E7EB;
    font-size: 1rem;
    padding: 0.75rem 2.5rem;
    margin-bottom: 1rem;
}

.createBtn:hover{
    background-color: #415035;
}
.createBtn:focus{
    background-color: #283120;
}
.error:invalid:focus{
    border-color: red;
}